<h1>Welcome to SMC</h1>

<%= link_to "Sign Up", "/users/new" %><br>

<%= link_to "Log In", "/sessions/new" %>

<h2>Users:<h2>
  <% @users.each do |user| %>
    <ul>
      <li><%= link_to user.name, "/users/#{user.id}" %></li>
    </ul>
  <% end %>